@using System.Reflection;
@{
    var currentYear = DateTime.Now.Year.ToString();
    var status = new ApplicationStatus(Assembly.GetExecutingAssembly());
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 text-light" style="float:left">
            Version: @status.BuildVersion.ToString()<br />
            <a href="https://github.com/markhazleton/yelpapi" target="_blank">GitHub Repository</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-light" style="text-align:center;">
            &copy; 2020-@currentYear Yelp Api Web <a href="https://dotnet.microsoft.com/download/dotnet/8.0" target="_blank">Running on Net 8</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 text-light" style="float:right">
            Last Built: @status.BuildDate.ToLocalTime().ToLongDateString()<br />
            <a href="https://markhazleton.controlorigins.com" target="_blank">Mark Hazleton Profile</a>
        </div>
    </div>
</div>