@model Yelp.Api.Domain.Models.SearchResponse
@{
    ViewData["Title"] = "Bars Page";
}

<div class="">
    <h1 class="display-4">Yelp API - @Model.Term</h1>
    @if (Model != null)
    {
        <div class="row">
            @if (Model.Businesses != null)
            {
                foreach (var item in Model.Businesses)
                {
                    @await Html.PartialAsync("_businessResponse", item)
                }
            }
        </div>
    }
</div>

<div>
    <small>@Model?.City , @Model?.State</small><br />
    <small>Data from @Model.RequestTime.ToLongDateString() - @Model.RequestTime.ToLongTimeString()</small><br />
</div>
