@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Yelp API test Web</h1>
    <p><a href="https://dotnet.microsoft.com/download/dotnet/6.0">Running on Net 6 </a>.</p>
</div>