@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Yelp API Test Website</h1>
    <p><a href="https://dotnet.microsoft.com/download/dotnet/6.0">Running on Net 6 </a>.</p>
    <ul>
        <li><a href="/home/category/bars">Yelp Bars</a></li>
        <li><a href="/home/category/thai">Yelp Thai</a></li>
    </ul>
</div>