@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Yelp API</h1>
    <p><a href="https://blog.yelp.com/businesses/yelp_category_list/">Yelp Category List</a></p>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Wichita, Kansas</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Use Yelp to find the best Bars.</p>
                        <a href="/home/category/bars" class="btn btn-primary">Wichita Bars</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Wichita, Kansas</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Use Yelp to find the best Thai Restaurants.</p>
                        <a href="/home/category/thai" class="btn btn-primary">Wichita Thai</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Wichita, Kansas</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Use Yelp to find the best Sushi Restaurants.</p>
                        <a href="/home/category/sushi" class="btn btn-primary">Wichita Sushi</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Dallas, Texas</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Use Yelp to find the best Bars.</p>
                        <a href="/home/category/bars?city=Dallas&state=Texas" class="btn btn-primary">Dallas Bars</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Dallas, Texas</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Use Yelp to find the best Thai Restaurants.</p>
                        <a href="/home/category/thai?city=Dallas&state=Texas" class="btn btn-primary">Dallas Thai</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
